alpaca-trade-api==3.2.0
backtrader==1.9.78.123
beautifulsoup4==4.13.4
multitasking==0.0.12
numpy>=2.3.2
pandas==2.3.1
pygithub==2.6.1
python-dotenv==1.1.1
pytz==2025.2
pyyaml==6.0.1
requests==2.32.4
scipy==1.16.1
six==1.17.0
soupsieve==2.7
statsmodels==0.14.5
typing-extensions==4.14.1
tzdata==2025.2
urllib3==1.26.20
yfinance==0.2.58
